* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-logo {
  padding: 20px;
  background-color: rgb(41, 12, 12);
  text-align: center;
  color: white;
}

.logo {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
}

.payment-container {
  background-color: red;
  height: 100%;
}
